#root{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
}

#root img{
    height: 700px;
    width: 450px;
}
#root i {
    font-size: 3rem;
    padding: 1.5rem;
}
.buttons{
    position: absolute;
    bottom: 10%;
    left: 40%;
    background-color: bisque;
    border-radius: 10px;
}
#root i {
    font-size: 1rem;
    color: black;
}
.buttons_container{
    position: absolute;
    bottom: 10%;
    left: 40%;
    display: inline-block;
}